@model IEnumerable<SharpShopDirect.Models.Favorite>

@{
    ViewBag.Title = "Index";
}

<h2>All Customer Favorites</h2>

@*<p>
    @Html.ActionLink("Create New", "Create")
</p>*@

<p>Enter search criteria:</p>
@using (Html.BeginForm("Index", "Favorites", FormMethod.Get))
{
    <p>
        Type: @Html.DropDownList("UserId", "All")
        <input type="submit" value="Lookup" />
    </p>
}

<table class="table">
    <tr>
        <th>
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserId)
        </th>
        
        <th>
            @Html.DisplayNameFor(model => model.ItemName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ItemNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
       
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>

        <td>
            <img src="@Html.DisplayFor(modelItem => item.Image)" width="118" height="200" />
        </td>

        <td>
            @Html.DisplayFor(modelItem => item.UserId)
        </td>
       
        <td>
            @Html.DisplayFor(modelItem => item.ItemName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ItemNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td>
        
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.FavoriteId }) |
            @Html.ActionLink("Details", "Details", new { id=item.FavoriteId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.FavoriteId })
        </td>
    </tr>
}

</table>
