@model IEnumerable<SharpShopDirect.Models.Favorite>

@{
    ViewBag.Title = "MyFavorite";
}

<h2>MyFavorite</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>

        </th>
       
        
        <th>
            @Html.DisplayNameFor(model => model.ItemName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ItemNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Color)
        </th>
       
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>

        <td>
            <img src="@Html.DisplayFor(modelItem => item.Image)" width="118" height="200" />
           
        </td>

       
       
        <td>
            @Html.DisplayFor(modelItem => item.ItemName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ItemNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Color)
        </td>
       
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.FavoriteId }) |
            @Html.ActionLink("Details", "Details", new { id=item.FavoriteId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.FavoriteId })
        </td>
    </tr>
}

</table>
