@model IEnumerable<SharpShopDirect.Models.Item>

@{
    ViewBag.Title = "About";
}
<h2>The Collection</h2>

<p>Enter search criteria:</p>

@using (Html.BeginForm("About", "Items", FormMethod.Get))
{
    <p>
        Sort by Type: @Html.DropDownList("ItemType", "All")
        <input type="submit"  value="Lookup" />
    </p>

}

<table class="table">
    <tr>
        <th>

        </th>

        <th>
            @Html.DisplayNameFor(model => model.Collection)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ItemName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ItemNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Color)
        </th>


@if (Context.User.Identity.IsAuthenticated)
{

    <th>
        Add to Favorites
    </th>

}       

        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                <a href='@Url.Action("Details", "Items", new { id = item.ItemId })'>
                     <img src="@Html.DisplayFor(modelItem => item.Image)" width="118" height="200" />
                </a>
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Collection)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ItemName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ItemNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Color)
            </td>
           

    @if(Context.User.Identity.IsAuthenticated) 
    {
            <td>

                <center>
                    @using (Html.BeginForm("About", "Items", FormMethod.Post, new { id = item.ItemId }))
                    {



                        <input type="submit" class="btn btn-block" name="About" value="ADD" onclick="alert(' @Html.DisplayFor(modelItem => item.ItemName) added to your Favorites')" />
                        <input type="hidden" name="itemId" value="@item.ItemId" />
                        <input type="hidden" name="itemType" value="@Html.DisplayFor(modelItem => item.ItemType)" />
                        <input type="hidden" name="collection" value="@Html.DisplayFor(modelItem => item.Collection)" />
                        <input type="hidden" name="itemName" value="@Html.DisplayFor(modelItem => item.ItemName)" />
                        <input type="hidden" name="itemNumber" value="@Html.DisplayFor(modelItem => item.ItemNumber)" />
                        <input type="hidden" name="description" value="@item.Description" />
                        <input type="hidden" name="price" value="@item.Price" />
                        <input type="hidden" name="color" value="@item.Color" />
                        <input type="hidden" name="itemURL" value="@item.Image" />
                        @*<input type="hidden" name="date" value="@DateTime.Now" />*@
                    }
                </center>
            </td>
    }
            <td>
            @*@Html.ActionLink("Edit", "Edit", new { id = item.ItemId }) |
                @Html.ActionLink("Details", "Details", new { id = item.ItemId }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.ItemId })*@
            </td>
</tr>
    }

</table>
