@model SharpShopDirect.Models.Item

@{
    ViewBag.Title = "Details";
}

<h4>@Html.DisplayFor(model => model.Collection)</h4>
<h2>@Html.DisplayFor(model => model.ItemName)</h2>

<div>
    <h4>@Html.DisplayFor(model => model.Price)</h4>

    <hr />

    <h2>@Html.DisplayFor(model => model.Description)</h2>

    <center>  <img src="@Html.DisplayFor(model => model.Image)" width="592" height="1000" />   </center>



</div>

<p>
    @*@Html.ActionLink("Edit", "Edit", new { id = Model.ItemId }) |*@
    @Html.ActionLink("Back to List", "About")
</p>

